.Home-header {
    display: flex;
      /* background: url(../assets/img/foto_logo.jpg) no-repeat;
      background-size: contain;
      background-attachment: fixed;
      background-color: #EA3546; */
      min-height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
  }

  .imgLogo {
    width: 30%;
  }

  .box-controller, .box-container {
    background-color: #F6F4F3;
  }

  @media (max-width: 992px) {
    .container-form {
      display: block;
    }
  }
  
 
  