.Home-form {
    display: flex;
    flex-direction: column;
}

.Home-form * {
    padding: 5px;
    margin: 0 auto;
}

.Home-header {
    display: flex;
      background: url(../assets/img/logo_gif.gif) no-repeat;
      background-size: contain;
      /* box-shadow: inset 0 0 5px 2px; */
      background-attachment: fixed;
      background-color: #1A8FE3;
      min-height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      /* font-size: calc(10px + 2vmin); */
      opacity: 0.8;
  }