.Home-form {
    display: flex;
    flex-direction: column;
}

.Home-form * {
    padding: 5px;
    margin: 0 auto;
}

/* .Home-header {
    display: flex;
      background: url(../assets/img/logo_gif.gif) no-repeat;
      background-size: contain;
      background-attachment: fixed;
      background-color: #1A8FE3;
      min-height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      opacity: 0.8;
  } */

  .item {
      width: 20%
  }

  .pure-form * {
      margin: 2px;
  }

  fieldset {
      display: flexbox;
      align-items: center;
      justify-content: center;
      justify-items: center;
      align-self: center;
      background-color: #1A8FE3;
      opacity: 0.8;
  }



  .teste {
    display: flex;
    background: url(../assets/img/foto_logo.jpg) no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: #1A8FE3;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.8;
  }


  