.Home-form {
    display: flex;
    flex-direction: column;
}

.Home-form * {
    padding: 5px;
    margin: 0 auto;
}

.Home-header {
    display: flex;
      background: url(../assets/img/foto_logo.jpg) no-repeat;
      background-size: contain;
      background-attachment: fixed;
      background-color: #EA3546;
      min-height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
  }

  /* .item {
      width: 50%
  } */

  .pure-form * {
      margin: 2px;
  }

  fieldset {
      display: flex;
      background-color: #1A8FE3;
  }



  /* .teste {
    display: flex;
    background: url(../assets/img/foto_logo.jpg) no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: #1A8FE3;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.8;
  } */



  .dashboard {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    height: calc(10vh - 110px);
    margin-top: 20px;
  }
  .dashboard .main {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }
  .dashboard .description {
    grid-row: 2 / span 1;
    grid-column: 2 / span 3;
  }
  .dashboard-card {
    background: #1A8FE3;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    padding: 2em;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

  @media (max-width: 992px) {
    .dashboard {
      display: block;
    }
  }
  
  /* Fonts and colors */
  .dashboard h2 {
    font-size: 25px;
  }
  .dashboard h3 {
    color: #37B686;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .dashboard p {
    color: rgba(0,0,0,0.5);
    font-size: 16px;
  }
  .dashboard img {
    border-radius: 50%;
  }
  .dashboard .btn {
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: 30px;
    background: #37B686;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
  }
  .dashboard .btn:hover {
    background: #37B686;
    opacity: 0.7;
  }
  .main p {
    margin-bottom: 30px;
  }
  