.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}

.App-menu-container * {
  width: 30%;
  padding: 1em;
  opacity: 5;
  cursor: pointer;

}

.App-menu-container *:hover {
  width: 40%;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(#e1fa00 7.2%, transparent 0);
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #3779ac;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
