.App {
  text-align: center;
  /* display: flex;
  align-items: center;
  height: 85vh;
  background: url(./assets/img/foto_logo.jpg) no-repeat center center;
  background-size: auto;
  background-attachment: fixed;
  background-color: #FFFFFF;
  min-height: 172vh; */
}

.App-header {
  display: flex;
  background: url(./assets/img/foto_logo.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #FFFFFF;
  min-height: 172vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}

.App-link {
  color: #61dafb;
}

.App-menu-container * {
  width: 30%;
  padding: 1em;
  opacity: 5;
  cursor: pointer;

}

.App-menu-container *:hover {
  width: 40%;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
